body {
  background-color: #169B62;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #c09300;
  background-color: transparent;
  text-decoration: underline;
}

#magic8 {
  margin: 70px 50px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  position:fixed;
  bottom:0;
  right:0;
  font-size: 2.25vw;
  font-family: 'Press Start 2P';
}

div p:nth-child(1){
  font-size: 1vw;
}

#goback {
  display: center;
  position: absolute;
  text-align: center;
  font-family: Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  z-index: 1;
  cursor:pointer;
  background: transparent;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  border: 1px #FF883E solid;
  color: black;
  border-radius: 0px;
  padding: 2px;
}


html {
  font-size: 8px;
}

body {
  background-color: #169B62;
}

header,
main {
  width: 80%;
  margin: auto;
}

#taglist,
#masterlist {
  display: block;
  margin: auto;
  float: left;
}

#taglist {
  margin-right: 4%;
  width: 26%;
}

#taglist a {
  text-decoration: none;
  color: black;
}

#masterlist {
  width: 70%;
}

#masterlist a:link,
#masterlist a:visited {
  width: 70%;
  text-decoration: none;
  color: blue;
}

#masterlist a:active {
  color: black;
}

#masterlist a:hover {
  background-color: #FF883E; 
  color: white;
}

#taglistlink {
  display: flex;
  position: fixed;
  font-size: 3em;
  color: white;
  border-radius: 0px;
  background-color: #FF883E;
  padding: 2px;
  text-decoration: none;
  top: 50vh;
  
  font-family: 'Press Start 2P';
}

#taglist a:link,
#taglist a:visted,
#taglist a:active {
  color: #FF883E;
  text-decoration: none;
}

#taglist em:hover,
#taglist a:hover {
  background-color: #FF883E;
  color: white;
}

header {
  margin-bottom: 50vh;
}

main {
  display: block;
}

h1 {
  font-size: 3rem;
  color: #FF883E;
  font-weight: 400;
}

em {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  border: 1px #FF883E solid;
  color: black;
  border-radius: 0px;
  padding: 2px;
}

.list {
  display: block;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-top: 1px #FF883E solid;
  border-left: 1px #FF883E solid;
  padding-left: 4px;
  background-color: rgba(255, 255, 255, 0.333);
}

.taglist {
  display: block;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-top: 1px #FF883E solid;
  border-left: 1px #FF883E solid;
  padding-left: 4px;
}

.link {
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem;
}

.link > a {
  font-family: serif;
  text-decoration: none;
}

.b,
.c {
  margin-left: 4rem;
}


#viewer {
  position: fixed;
  top: 5vh;
  left: 5vw;
  display: block;
  margin: auto;
}

#iframepdf {
  width: 90vw;
  height: 90vh;
}

.close {
  position: fixed;
  top: 5vh;
  left: 3vw;
  font-size: 3em;
  color: white;
  border-radius: 0px;
  background-color: #FF883E;
  padding: 2px;
  text-decoration: none;
  font-family: sans-serif;
}