ul {
  font-size: 24px;
}

html {
  background-color: #ffff00
}
html {
  font-family: arial;
}

#main {
  background-color: #669966;
  width: 50%;
  float: left;
  position: relative;
  padding: 5%;
}

#links {
  width: 50%;
  background-color: #ffff00;
  float: right;
  position: relative;
  padding: 5%;
}

#jake {
  position: relative;
  float: right;
}
