#box1 {
  background-color: green;
  height: 100vh;
  width: 33.33%; 
  width: calc(100% / 3);
  display: inline-block;
  position:absolute;
  left:0;
}

#box2 {
  background-color: #F98F2B;
  height: 100vh;
  width: 33.33%; 
  width: calc(100% / 3);
  display: inline-block;
  position:absolute;
  right:0;
}

body {
  margin: 0px;
  overflow: hidden;

}

#log {
  display: center;
  position: flex;
  color: black;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 10vw;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
}

a:link  {
  display: center;
  position: absolute;
  color: black;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  z-index: 1;
  cursor:pointer;
  background: transparent;
}

a:link {
  color: #4b0908;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #b97d10;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #4b0908;
  background-color: transparent;
  text-decoration: underline;
}
