* {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	box-sizing: border-box;
}

.background {
    background-image: url("background1.png");
    background-repeat: no-repeat;
  	background-size: cover;
  	width: 100%;
  	height: 100vh;
  	background-position: center center;
  	position: relative;
}
