.thegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  background-color: white;
  grid-auto-rows: 1fr;
}

.thegrid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.thegrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.square {
  background-color: green;
  padding: 20px;
}



canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: calc( 24 * ( 1vh + 1vw ) );
  }
  
  body {
    background-color: white;
    overflow: hidden
  }
  
  #null {
    opacity: 0;
  }

  #menu {
    margin: 70px 50px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    position:absolute;
    bottom:0;
    right:0;
    font-size: .8vw;
    font-family: 'Press Start 2P';
    color: #aa0505;
  }

  button  {
    margin: 70px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position:absolute;
    bottom:0;
    left:0;
    font-size: 1.18vw;
    font-family: 'Press Start 2P';
    color: #aa0505;
    background: transparent;
    padding: 15px;
    cursor:pointer;
  }

  a:link  {
    margin: 50px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    position:absolute;
    top:0;
    left:0;
    font-size: .56vw;
    font-family: 'Press Start 2P';
    color: #aa0505;
    background: transparent;
    padding: 15px;
    cursor:pointer;
  }

  a:link {
    color: #4b0908;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #aa0505;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #b97d10;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #4b0908;
    background-color: transparent;
    text-decoration: underline;
  }
